/* make font arial */
body {
	font-family: Arial;
}

/* center text */
.centered {
	text-align: center;
}


/* columns, one 60% one 40% of the page*/
.column1 {
	float: left;
	width: 60%;
}

.column2 {
	float: left;
	width: 40%;
}

.column3 {
	float: left;
	width: 100%;
}
/* svg frame */
#frame {
	width: 500px;
	height: 500px;
	margin-left: 50px;
}

line {
	stroke: black;
	stroke-width: 10;
}

circle:hover {
	fill: orange;
}

.addBorder {
	stroke: seagreen;
	stroke-width: 4;
}