/* make font arial */
body {
	font-family: Arial;
}

/* center text */
.centered {
	text-align: center;
	clear: both;
	
}


/* columns, one 60% one 40% of the page*/
.column1 {
	float: left;
	width: 60%;
}

.column2 {
	float: left;
	width: 40%;
}

/* svg frame */
#frame {
	width: 500px;
	height: 500px;
	margin-left: 50px;
}

/* line attributes */
line {
	stroke: black;
	stroke-width: 10;
}

/* change color when hovered */
circle:hover {
	fill: orange;
}

/* class for when circles are clicked on */
.addBorder {
	stroke: seagreen;
	stroke-width: 4;
}
